* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background-primary {
  background-color: #882c37;
}
.background-secondary {
  background-color: #ff5624;
}
.color-primary {
  color: #882c37;
}
.color-secondary {
  color: #ff5624;
}

.item {
  background-color: #d4cccc1c;
  border-radius: 5px;
  font-weight: bolder;
  margin: 20px 0;
}
.item-text {
  padding-right: 30px;
  font-size: 20px;
  
}
.increment,
.decrement,
.price {
  padding: 5px 10px;
}
.increment,
.decrement {
  font-size: 24px;
}
.btn{
    justify-content: center;
    margin-top: 40px;
}
h2{
    text-align: left;
    font-weight: 700;
}
