  /*sir felix lucas welcoming page*/
 * {
    box-sizing: border-box;
  }

 header{
    background-image: url("/img/wel\ img.jpg");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1300px;
 }

 #welcoming{
     text-align: center;
     justify-content: center;
     font-size: large;
    padding-top: 80px;
 }
.delicacies{
    font-size: 50px;
    font-family: sans-serif;
    color: #FEDD42;
    font-weight: bold;
}
#welcoming p{
    font-size: 30px;
    color: white;
}

#Gallary{
    text-align: center;
    width: 100%;
    background-color: #501e2a;
}

  .container {
position: relative;

  }

  .column p{
      font-size: x-large;
      font-weight: bolder;
      color: whitesmoke;

  }
  
  .ourGallery{
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 15px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
    text-align: center;
    background-color: #FEDD42;
    padding: 2px 16px;
    color: white;
    width: 100%;
    height: 15px;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 20.0%;
  }
  .cursor{

  }
  
  .active,
  .cursor:hover {
    opacity: 1;
  }


