/* General Styles Start */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.background-primary {
	background-color: #882c37;
}

.background-secondary {
    background-color: #FF5624;
}

.color-primary {
	color: #882c37;
}

.color-secondary {
    color: #FF5624;
}

.user-detail__value {
    margin-top: 52px;
}

.show {
    display: block;
}

.hide {
    display: none;
}
.full-height {
    height: 100vh;
}


/* General Styles End */

/* Payments Section Start */
hr {
    border-color: #fff;
}


.item {
    background-color: #d4cccc1c;
    border-radius: 5px;
    font-weight: bolder;
    margin: 20px 0;
}

.item-text {
    padding-right: 30px;
    font-size: 20px;
    /* font-weight: bolder; */
}
.increment, .decrement, .price {
    padding:5px 10px;
    
}

.increment, .decrement {
    cursor:pointer;
    font-size: 24px;
}

/* Payments Section End */